.header{
    width: 100%;
    height:50px;
    background: #43bd36!important;
    position: relative;
}
.mycontainer{
    padding-right:0;
    padding-left: 0;
}
.myMenu ul li{
    float: left;
}
.myMenu ul li a{
    font-size: 14px;
    line-height: 50px;
    height: 50px;
    padding: 0 24px;
    vertical-align: bottom;
    text-decoration: none;
    opacity: .9;
    color: #fff;
}
.activetag{
    background-color: rgba(0,0,0,.2)
}
/*.myD{
    position: relative;
}*/
.myD i{
     display: block;
    line-height:60px;
    height: 60px;
    position:absolute;
    top:50%;
    margin-top: -30px;
}
.myD i.icon1{
   right: 40px;
}
.myD i.icon2{
   right: 80px;
}
.myD i.icon3{
   right: 120px;
}
.mLeft40{
    margin-left: 40px!important;
}
.myrow{
    margin-right:0;
    margin-left: 0;

}

.clearpading{
    padding: 0;

}